#body {
  background-image: url(https://images.pexels.com/photos/1834404/pexels-photo-1834404.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}
#main {
  background-color: rgba(54, 53, 53, 0.39);
  width: 65%;
  height: 100%;
  font-family: Verdana;
}
.head {
  color: white;
  font-size: 18px;
  height: 10%;
  margin: 3%;
}
.container {
  margin: 3%;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  grid-template-areas:
    "content1 content3"
    "content2 content3";
}
.header {
  color: white;
  font-size: 25px;
}
.part-1 {
  grid-area: content1;
  margin-bottom: 5%;
}
.part-2 {
  grid-area: content2;
  position: relative;
}
.part-3 {
  grid-area: content3;
  grid-row: 1/3;
  position: relative;
}
.infor1::before {
  content: "";
  width: 1px;
  height: 200px;
  padding: 1px;
  background-color: rgba(245, 245, 245, 0.472);
  position: absolute;
  left: 11px;
}
.infor1 {
  color: white;
  width: 100%;
  padding-left: 7%;
  position: relative;
}
.infor2::before {
  content: "";
  width: 1px;
  height: 250px;
  padding: 1px;
  background-color: rgba(245, 245, 245, 0.472);
  position: absolute;
  left: 11px;
}
.infor2 {
  color: white;
  padding-left: 7%;
  position: relative;
}
.infor31::before {
  content: "";
  width: 1px;
  height: 410px;
  padding: 1px;
  background-color: rgba(245, 245, 245, 0.472);
  position: absolute;
  left: 11px;
}
.infor31 {
  color: white;
  padding-left: 7%;
  position: relative;
}
.infor32::before {
  content: "";
  width: 1px;
  height: 330px;
  padding: 1px;
  background-color: rgba(245, 245, 245, 0.472);
  position: absolute;
  left: 11px;
}
.infor32 {
  color: white;
  padding-left: 7%;
  position: relative;
}
.icon {
  color: rgb(21, 161, 52);
  font-size: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.year {
  width: 120px;
  height: 20px;
  padding: 7px;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.205);
}
.title {
  color: rgb(21, 161, 52);
}
.detail {
  color: white;
  font-size: 17px;
}
