.header {
  background-color: aquamarine;
  padding: 60px 0;
}

.header-info img {
  height: 10px;
  border-radius: 50%;
}

.header-info {
  align-items: 50%;
}

.header-name {
  margin: 20px;
}

.header-name h2 {
  margin-top: 5px;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-icon ion-icon {
  font-size: 50px;
  margin-left: 50px;
}

.header-bg {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  bottom: 0;

  background-color: palevioletred;
  border-radius: 40% 0 0;
}
main .main h2 {
  text-align: center;
  margin-top: 50px;
}
h2 ::before {
  content: " ";
  position: absolute;
  height: 50px;
  width: 50px;

  border-radius: 50%;
  border: 2px solid red;
  left: 0;
  top: 10px;
  transform: translate(120%) translate(-20%);
}

.list-edu {
  width: 60%;
}

.list-edu h3 {
  background-color: aqua;
}
.list-blog {
  width: 30%;
}
.edu-item {
  width: 30%;
  gap: 10px 5%;
}

.reser-mr {
  margin-right: 0;
}

.edu-item img {
  height: 250px;
}

.person-info {
  background-color: yellowgreen;
  color: white;
}

.list-blog {
}

.main-list {
  justify-content: space-between;
  background-color: rgb(24, 105, 105);
}

.main-list img {
  height: 90%;
  width: auto;
  border-radius: 50%;
}
